.blog-filter-container {
  height: 570px;
  width: 70px;
  background-color: var(--background);
  position: relative;
  margin-right: 30px;
  border-radius: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}
.blog-filter-card {
  font-family: var(--sans);
  font-weight: 100;
  font-size: 16.8px;
  color: var(--font);
  text-align: center;
  line-height: 60px;
  margin: 0 auto;
  border: var(--lines) solid 1px;
  border-radius: 50px;
  width: 60px;
  height: 60px;
  user-select: none;
  font-style: italic;
  padding: 2px;
}
.blog-filter-card:hover {
  font-weight: 300;
  border: var(--font) solid 3px;
  padding: 0;
}
#blog-filter-card-select {
  font-weight: 300;
  border: var(--font) solid 3px;
  margin: 0 auto;
  padding: 0;
}
