@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --altfont: rgb(0, 0, 0);
  --font: #ffffff;
  --sans: "Poppins", sans-serif;
  --lines: #ffffff91;
  --background: rgb(27, 27, 27);
}
body {
  z-index: -3;
  background-color: var(--background);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin: 0;
}
.nav {
  width: 100vw;
  position: fixed;
  font-size: 16.8px;
  font-family: var(--sans);
  font-weight: 300;
  font-style: italic;
  height: 57px;
  align-items: center;
  justify-content: right;
  display: flex;
  flex-direction: row;
  color: var(--font);
  top: 0;
}
.nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  list-style-type: none;
}
.nav div:last-child {
  margin-right: 70px;
}
.home,
.projects,
.about {
  width: calc(100vw - (100vw - 100%));
}
