@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --altfont: rgb(0, 0, 0);
  --font: #ffffff;
  --sans: "Poppins", sans-serif;
  --serif: "Playfair Display", serif;
  --lines: #ffffff91;
  --background: rgb(27, 27, 27);
}
body {
  z-index: -3;
  background-color: var(--background);
  background-size: contain;
  background-repeat: no-repeat;
  display: block;
  position: relative;
  margin: 0;
}
.nav {
  width: 100vw;
  position: fixed;
  font-size: 16.8px;
  font-family: var(--sans);
  font-weight: 300;
  font-style: italic;
  height: 57px;
  align-items: center;
  justify-content: right;
  display: flex;
  flex-direction: row;
  color: var(--font);
  top: 0;
}
.nav div {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  list-style-type: none;
}
.nav div:last-child {
  margin-right: 70px;
}
.home,
.projects,
.about {
  width: calc(100vw - (100vw - 100%));
}

.project-links {
  width: 100%;
  position: relative;
  top: 85px;
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}
.project-links li a {
  font-family: var(--serif);
  font-weight: 800;
  font-size: 24px;
  color: var(--font);
  text-decoration: none;
  margin: 0 50px;
}
.project-links li a:focus,
:active {
  color: var(--font);
}
.polymr {
  height: 100%;
  display: flex;
  justify-content: center;
}
.polymr-gif {
  margin: 85px 120px 0 120px;
  width: 1000px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.project-slider {
  scroll-behavior: smooth;
  margin-top: 110px;
  display: flex;
  width: 1240px;
  flex-direction: row;
  box-sizing: content-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
  overflow-x: scroll;
  overflow-y: auto;
}
.project-slider::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
.project-slider:last-child {
  margin-right: 0;
}
#right-arrow{
  color: var(--font);
  align-self: center;
  padding-top: 195px;
}
#left-arrow{
  color: var(--font);
  align-self: center;
  padding-top: 195px;
}
